<!DOCTYPE html>
<html ng-app="main">
<head>
  <title>StockAnalyzer</title>
  <link rel='stylesheet' href='/stylesheets/style.min.css'/>
  <link rel='stylesheet' href='/stylesheets/application.css'/>
  <link rel='stylesheet' href='/stylesheets/market.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>

</head>
<body style="height:100%;overflow:scroll;">
 <!-- Libraries -->
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/angular.js"></script>
  <script src="/js/angular-route.js"></script>
  <script src="/js/angular-resource.js"></script>
  <script src="/js/mainService.js"></script>
  <script src="/js/highstock.js"></script>
  <script src="/js/moment.js"></script>
  <script src="/js/candlestick.js"></script>
  <script src="/js/highcharts.js"></script>
  <script src="/js/highcharts-3d.js"></script>

<!-- 顶部主导航 S -->
<div id="global_header" class="global_header">
  <div class="wrapper_center clearfix global_nav_inner">
    <div class="logo"><a href="#">股票分析</a></div>
    <ul id="global_nav" class="global_nav">
        <!-- 行情 -->
        <li class="current">
          <a href="/">行情</a>
        </li>
        <!-- /行情 -->
        <li class="">
          <a href="#/recommends">推荐</a>
        </li>

        <li class="">
          <a href="#/holdings">持仓</a>
        </li>
      </ul>
    <div class="help"><a href="/manager">后台管理</a></div>
  </div>
</div>
<!-- 顶部主导航 E -->
<div class="wrapper_center clearfix global_nav_inner" >

<ng-view></ng-view>  

<!-- Template -->
<script type="text/ng-template" id="/stocklist.html">
<h2>股票行情</h2>
<div class="market_data_area">
  <!-- 指数 S -->
  <dl class="market_item m1">
    <dt class="mn"><span class="translation_missing" title="translation missing: zh-CN.asset_class.shared.indice.上证指数">上证指数</span></dt>
    <dd class="data"><em class="up">5068.47</em><em class="up">45.37</em><em class="up">0.90%</em></dd>
    <dd class="chart">
      <div class="chart_box"><img alt="000001" src="/images/000001.png" width="230" /></div>
    </dd>
  </dl>
  <dl class="market_item m2">
    <dt class="mn"><span class="translation_missing" title="translation missing: zh-CN.asset_class.shared.indice.深圳成指">深圳成指</span></dt>
    <dd class="data"><em class="down">17501.05</em><em class="down">-37.45</em><em class="down">-0.21%</em></dd>
    <dd class="chart">
      <div class="chart_box"><img alt="399001" src="/images/399001.png" width="230" /></div>
    </dd>
  </dl>
  <dl class="market_item m3">
    <dt class="mn"><span class="translation_missing" title="translation missing: zh-CN.asset_class.shared.indice.沪深300">沪深300</span></dt>
    <dd class="data"><em class="up">5268.63</em><em class="up">38.08</em><em class="up">0.73%</em></dd>
    <dd class="chart">
      <div class="chart_box"><img alt="000300" src="/images/000300.png" width="230" /></div>
    </dd>
  </dl>
  <!-- 指数 E -->
</div>
<br/>
<div>
    <h3>沪深成交量前二十</h3>
<span style="float:right">
        搜索: <input type="text" class="txt_input s_input" ng-model="search.code">
</span>
</div>
</br>
</br>
  <table id="listtable" class="table table-striped" width="100%">
    <tr>
      <th class="t_td">代码</th>
      <th class="n_td">名称</th>
      <th class="price_td">最新价</th>
      <th class="dpe_td">涨跌额</th>
      <th class="dpf_td">涨跌幅</th>
      <th class="hl_td">最高价</th>
      <th class="hl_td">最低价</th>
      <th class="cjl_td">成交量/手</th>
      <th class="cje_td">成交额/万</th>
      <th class="act_td">&nbsp;</th>
    </tr>
    <tr ng-repeat="stock in topvstocks | filter: search" ng-class-even="'even'" ng-class-odd="'odd'">
      <td>{{ stock.code }}</td>
      <td>{{ stock.name }}</td>
      <td class="{{ stock.newest>stock.close?'up':'down' }}">{{ stock.newest }}</td>
      <td class="{{ stock.offset>0?'up':'down' }}">{{ stock.offset }}</td>
      <td class="{{ stock.offrate>0?'up':'down' }}">{{ stock.offrate }}</td>
      <td class="{{ stock.high>stock.close?'up':'down' }}">{{ stock.high }}</td>
      <td class="{{ stock.low>stock.close?'up':'down' }}">{{ stock.low }}</td>
      <td>{{ stock.volumn }}</td>
      <td>{{ stock.turnover }}</td>
      <td class="act_td"><a class="trading_btn" href="#/{{ stock._id }}">详情</a></td>
    </tr>
  </table>
  <br/>
<div>
    <h3>沪深涨幅前二十</h3>
<span style="float:right">
        搜索: <input type="text" class="txt_input s_input" ng-model="search2.code">
</span>
</div>
</br>
</br>
  <table id="listtable" class="table table-striped" width="100%">
    <tr>
      <th class="t_td">代码</th>
      <th class="n_td">名称</th>
      <th class="price_td">最新价</th>
      <th class="dpe_td">涨跌额</th>
      <th class="dpf_td">涨跌幅</th>
      <th class="hl_td">最高价</th>
      <th class="hl_td">最低价</th>
      <th class="cjl_td">成交量/手</th>
      <th class="cje_td">成交额/万</th>
      <th class="act_td">&nbsp;</th>
    </tr>
    <tr ng-repeat="stock in toprstocks | filter: search2" ng-class-even="'even'" ng-class-odd="'odd'">
      <td><a href> {{ stock.code }}</td>
      <td>{{ stock.name }}</td>
      <td class="{{ stock.newest>stock.close?'up':'down' }}">{{ stock.newest }}</td>
      <td class="{{ stock.offset>0?'up':'down' }}">{{ stock.offset }}</td>
      <td class="{{ stock.offrate>0?'up':'down' }}">{{ stock.offrate }}</td>
      <td class="{{ stock.high>stock.close?'up':'down' }}">{{ stock.high }}</td>
      <td class="{{ stock.low>stock.close?'up':'down' }}">{{ stock.low }}</td>
      <td>{{ stock.volumn }}</td>
      <td>{{ stock.turnover }}</td>
      <td class="act_td"><a class="trading_btn" href="#/{{ stock._id }}">详情</a></td>
    </tr>
  </table>
</script>

<script type="text/ng-template" id="/stockDetails.html">
  <h2>{{ stkdetail.name }} </h2>
  <div id="container"></div>
  <div class="my_trading_box">
  <div class="trading_list">
    <table>
    <tr> <td style="float:left">代码</td><td> {{ stkdetail.code }} </td> </tr>
    <tr><td style="float:left">最新价</td><td class="{{ stkdetail.newest>stock.close?'up':'down' }}">{{ stkdetail.newest }}</td> 
    <td style="float:left">涨跌额</td><td class="{{ stkdetail.offset>0?'up':'down' }}">{{ stkdetail.offset }}</td> <td style="float:left">涨跌幅</td> <td class="{{ stkdetail.offset>0?'up':'down' }}">{{ stkdetail.offset }}</td> <td style="float:left">最高价</td> <td class="{{ stkdetail.high>stock.close?'up':'down' }}">{{ stkdetail.high }}</td> <td style="float:left">最低价</td> <td class="{{ stkdetail.low>stock.close?'up':'down' }}">{{ stkdetail.low }}</td> <td style="float:left">昨收</td><td>{{ stkdetail.close }}</td> <td style="float:left">今开</td><td class="{{ stkdetail.open>stock.open?'up':'down' }}">{{ stkdetail.open }}</td><td style="float:left">成交量/手</td> <td>{{ stkdetail.volumn }}</td> <td style="float:left">成交额/万</td> <td>{{ stkdetail.turnover }}</td></tr>
    </table>
    <table>
      <tr>
        <td><a class="btn btn_primary" ng-click="displaybuy()">买入</a></td>
        <td ng-show="showbuy"><input class="txt_input s_input" type="text" ng-model="scount"/></td>
        <td>总价</td>
        <td>{{ scount * stkdetail.newest }} </td>
        <td ng-show="showbuy"><a class="btn btn_primary" ng-click="confirmbuy()">确认</a></td>
      </tr>
    </table>
    <a class="help btn btn_primary" href="/">返回</a>
  </div>
  </div>
  <script>
  $(function () {
        Highcharts.setOptions({
            colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
          });

          $('#container2').highcharts({
            chart: {
              type: 'pie'
          },

          series: [{
              data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
            }]
          });
      });
      createCandlestick('#container', '/json/candlestick.json');
  </script>
</script>

<script type="text/ng-template" id="/holdings.html">
  <h2> 持仓情况 </h2>
  <div>
    <div style="float:left" id="container"></div>
    <div style="float:left">
      <table id="listtable2" class="table table-striped" width="100%">
      <tr>
        <th class="n_td">代码</th>
        <th class="price_td">名称</th>
        <th>当前价</th>
        <th class="dpe_td">持仓数</th>
        <th class="dpf_td">总价值</th>
      </tr>
      <tr ng-repeat="holding in holdings | filter: search2" ng-class-even="'even'" ng-class-odd="'odd'">
        <td>{{ holding.code }}</td>
        <td>{{ holding.name }}</td>
        <td>{{ holding.newest }}</td>
        <td>{{ holding.amount }}</td>
        <td>{{ holding.newest * holding.amount }}</td>
      </tr>
    </table>
    </div>
      <p id="pdata" ng-show="false"> {{ piedata }} </p>
  </div>
  <script>
  $(document).ready(function () {
        var chartdata = JSON.parse($('#pdata').text());

        Highcharts.setOptions({
            colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
          });

          $('#container').highcharts({
            chart: {
              type: 'pie',
              options3d: {
                enabled: true,
                alpha: 45,
                beta: 0,
              }
          },
            title: {
              text: '您的当前持仓情况'
            },
            plotOptions: {
              pie: {
                depth: 25
              }
            },
          series: [{
              data: chartdata
            }]
          });
      });
  </script>
</script>

<script type="text/ng-template" id="/recommends.html">
  <h2> 推荐关注 </h2>
  <div>
    <h3>根据热点新闻推荐关注</h3>
    <br/>
    <table>
      <tr>
        <td style="font-weight:bold">本日关键词：</td> <td>&nbsp;</td><td style="color:red">"{{ keyword1 }}" </td><td> , </td><td style="color:red"> "{{ keyword2 }}"</td>
      </tr>
    </table>
    <br/>
    <table id="listtable" class="table table-striped" width="100%">
      <tr>
        <th class="t_td">关键词</th>
        <th class="n_td">代码</th>
        <th class="price_td">名称</th>
        <th>当前价</th>
        <th class="dpe_td">涨跌额</th>
        <th class="dpf_td">涨跌幅</th>
        <th class="hl_td">昨收</th>
        <th class="hl_td">今开</th>
        <th class="cjl_td">相关度</th>
      </tr>
      <tr ng-repeat="rec in recommendslist | filter: search2" ng-class-even="'even'" ng-class-odd="'odd'">
        <td class="up">{{ rec.keyword }}</td>
        <td>{{ rec.code }}</td>
        <td>{{ rec.name }}</td>
        <td class="{{ rec.newest>rec.close?'up':'down' }}">{{ rec.newest }}</td>
        <td class="{{ rec.offset>0?'up':'down' }}">{{ rec.offset }}</td>
        <td class="{{ rec.offrate>0?'up':'down' }}">{{ rec.offrate }}</td>
        <td>{{ rec.close }}</td>
        <td class="{{ rec.low>rec.close?'up':'down' }}">{{ rec.open }}</td>
        <td class="{{ rec.confidencescore>80?'up':'down' }}">{{ rec.confidencescore }}</td>
      </tr>
    </table>
  </div>
  <a class="help btn btn_primary" href="/">返回</a>
</script>

<script>
    $("#global_nav").click(function(e){
      $(".global_nav li").each(function(){
        $(this).removeClass("current");
      });
      currentEl = $(e.target);
      console.log(currentEl.get(0).tagName);
      console.log(currentEl.get(0).tagName=="A");
      var currentEl = currentEl.get(0).tagName=="A"?currentEl.parent():currentEl;
      currentEl.addClass("current");
    });
</script>
</div>
</body>
</html>
