<!DOCTYPE html>
<html ng-app="main">
<head>
  <title>StockAnalyzer</title>
  <link rel='stylesheet' href='/stylesheets/style.min.css'/>
  <link rel='stylesheet' href='/stylesheets/application.css'/>
  <link rel='stylesheet' href='/stylesheets/market.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>

</head>
<body style="height:100%;overflow:scroll;">
 <!-- Libraries -->
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/angular.js"></script>
  <script src="/js/angular-route.js"></script>
  <script src="/js/angular-resource.js"></script>
  <script src="/js/mainService.js"></script>
  <script src="/js/highstock.js"></script>
  <script src="/js/moment.js"></script>
  <script src="/js/candlestick.js"></script>
  <script src="/js/highcharts.js"></script>

<!-- 顶部主导航 S -->
<div id="global_header" class="global_header">
  <div class="wrapper_center clearfix global_nav_inner">
    <div class="logo"><a href="#">股票分析</a></div>
    <ul id="global_nav" class="global_nav">
        <!-- 行情 -->
        <li class="current">
          <a href="/">行情</a>
        </li>
        <!-- /行情 -->
        <li class="">
          <a href="#/557684afd6a938f878923108">推荐</a>
        </li>

        <li class="">
          <a href="#/557684bdd6a938f878923109">持仓</a>
        </li>
      </ul>
    <div class="help"><a href="/manager">后台管理</a></div>
  </div>
</div>
<!-- 顶部主导航 E -->
<div class="wrapper_center clearfix global_nav_inner" >

<ng-view></ng-view>  

<!-- Template -->
<script type="text/ng-template" id="/stocklist.html">
<h2>股票行情</h2>
<div class="market_data_area">
  <!-- 指数 S -->
  <dl class="market_item m1">
    <dt class="mn"><span class="translation_missing" title="translation missing: zh-CN.asset_class.shared.indice.上证指数">上证指数</span></dt>
    <dd class="data"><em class="up">5068.47</em><em class="up">45.37</em><em class="up">0.90%</em></dd>
    <dd class="chart">
      <div class="chart_box"><img alt="000001" src="/images/000001.png" width="230" /></div>
    </dd>
  </dl>
  <dl class="market_item m2">
    <dt class="mn"><span class="translation_missing" title="translation missing: zh-CN.asset_class.shared.indice.深圳成指">深圳成指</span></dt>
    <dd class="data"><em class="down">17501.05</em><em class="down">-37.45</em><em class="down">-0.21%</em></dd>
    <dd class="chart">
      <div class="chart_box"><img alt="399001" src="/images/399001.png" width="230" /></div>
    </dd>
  </dl>
  <dl class="market_item m3">
    <dt class="mn"><span class="translation_missing" title="translation missing: zh-CN.asset_class.shared.indice.沪深300">沪深300</span></dt>
    <dd class="data"><em class="up">5268.63</em><em class="up">38.08</em><em class="up">0.73%</em></dd>
    <dd class="chart">
      <div class="chart_box"><img alt="000300" src="/images/000300.png" width="230" /></div>
    </dd>
  </dl>
  <!-- 指数 E -->
</div>
<br/>
<div>
    <h3>沪深成交量前二十</h3>
<span style="float:right">
        搜索: <input type="text" class="txt_input s_input" ng-model="search.code">
</span>
</div>
</br>
</br>
  <table id="listtable" class="table table-striped" width="100%">
    <tr>
      <th class="t_td">代码</th>
      <th class="n_td">名称</th>
      <th class="price_td">最新价</th>
      <th class="dpe_td">涨跌额</th>
      <th class="dpf_td">涨跌幅</th>
      <th class="hl_td">最高价</th>
      <th class="hl_td">最低价</th>
      <th class="cjl_td">成交量/手</th>
      <th class="cje_td">成交额/万</th>
      <th class="act_td">&nbsp;</th>
    </tr>
    <tr ng-repeat="stock in topvstocks | filter: search" ng-class-even="'even'" ng-class-odd="'odd'">
      <td>{{ stock.code }}</td>
      <td>{{ stock.name }}</td>
      <td class="{{ stock.newest>stock.close?'up':'down' }}">{{ stock.newest }}</td>
      <td class="{{ stock.offset>0?'up':'down' }}">{{ stock.offset }}</td>
      <td class="{{ stock.offrate>0?'up':'down' }}">{{ stock.offrate }}</td>
      <td class="{{ stock.high>stock.close?'up':'down' }}">{{ stock.high }}</td>
      <td class="{{ stock.low>stock.close?'up':'down' }}">{{ stock.low }}</td>
      <td>{{ stock.volumn }}</td>
      <td>{{ stock.turnover }}</td>
      <td class="act_td"><a class="trading_btn" href="#/557684bdd6a938f878923109">交易</a></td>
    </tr>
  </table>
  <br/>
<div>
    <h3>沪深涨幅前二十</h3>
<span style="float:right">
        搜索: <input type="text" class="txt_input s_input" ng-model="search2.code">
</span>
</div>
</br>
</br>
  <table id="listtable" class="table table-striped" width="100%">
    <tr>
      <th class="t_td">代码</th>
      <th class="n_td">名称</th>
      <th class="price_td">最新价</th>
      <th class="dpe_td">涨跌额</th>
      <th class="dpf_td">涨跌幅</th>
      <th class="hl_td">最高价</th>
      <th class="hl_td">最低价</th>
      <th class="cjl_td">成交量/手</th>
      <th class="cje_td">成交额/万</th>
      <th class="act_td">&nbsp;</th>
    </tr>
    <tr ng-repeat="stock in toprstocks | filter: search2" ng-class-even="'even'" ng-class-odd="'odd'">
      <td><a href> {{ stock.code }}</td>
      <td>{{ stock.name }}</td>
      <td class="{{ stock.newest>stock.close?'up':'down' }}">{{ stock.newest }}</td>
      <td class="{{ stock.offset>0?'up':'down' }}">{{ stock.offset }}</td>
      <td class="{{ stock.offrate>0?'up':'down' }}">{{ stock.offrate }}</td>
      <td class="{{ stock.high>stock.close?'up':'down' }}">{{ stock.high }}</td>
      <td class="{{ stock.low>stock.close?'up':'down' }}">{{ stock.low }}</td>
      <td>{{ stock.volumn }}</td>
      <td>{{ stock.turnover }}</td>
      <td class="act_td"><a class="trading_btn" href="#/557684bdd6a938f878923109">交易</a></td>
    </tr>
  </table>
</script>

<script type="text/ng-template" id="/stockDetails.html">
  <div id="container"></div>
  <div id="container2"></div>
  <script>
  $(function () {
        Highcharts.setOptions({
            colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
          });

          $('#container2').highcharts({
            chart: {
              type: 'pie'
          },

          series: [{
              data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
            }]
          });
      });
      createCandlestick('#container', '/json/candlestick.json');
  </script>
</script>

<script>
    $("#global_nav").click(function(e){
      $(".global_nav li").each(function(){
        $(this).removeClass("current");
      });
      currentEl = $(e.target);
      console.log(currentEl.get(0).tagName);
      console.log(currentEl.get(0).tagName=="A");
      var currentEl = currentEl.get(0).tagName=="A"?currentEl.parent():currentEl;
      currentEl.addClass("current");
    });
</script>
</div>
</body>
</html>
